body
{
    background: #F3F5FC;
    width: 100%;
}

@media screen and (max-width:380px) 
{
    body{
        width: 380px;
        height: 933px;
    }
}

@media screen and (min-width: 768px) 
{
    body
    {
        width: 1440px;
        height: 1024px;
    }
}